* {
  box-sizing: border-box;
}
body {
  background-color: #f96b6b;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
}
/* Pagina inicial */
h1 {
  font-family: "Righteous", cursive;
  font-size: 25px;
  line-height: 32px;
  color: white;
  text-align: center;
}
.logo-start {
  margin-top: 90px;
  width: 55px;
  align-self: center;
}
.btn-start {
  margin-top: 70px;
  width: 141px;
  height: 31px;

  font-family: "Recursive", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #d70900;
  background: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
/* Pagina de perguntas */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f96b6b;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
header img {
  width: 26px;
  height: 30px;
}
h2 {
  font-family: "Righteous", cursive;
  font-size: 25px;
  line-height: 32px;
  color: white;
  text-align: center;
  padding-left: 8px;
}
ul {
  margin-top: 80px;
  margin-bottom: 50px;
  transition: all 0.9s;
}
li {
  width: 182px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 12px;
  position: relative;
  transition: all 0.9s;
}
h3 {
  font-family: "Recursive", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}
.selected {
  background: #ffffd5;
  height: 80px;
  align-items: flex-start;
  padding: 13px 6px;
  flex-direction: column;
}
.play-button {
  width: 13px;
}
.selected img {
  width: 30px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.buttons {
  width: 170px;
  position: absolute;
  bottom: 3px;
  display: flex;
  justify-content: space-between;
}
li button {
  width: 55px;
  height: 24px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  font-family: "Recursive", sans-serif;
  font-size: 7px;
  line-height: 8px;
  color: #ffffff;
}
.wrong {
  background-color: #ff3030;
}
.almost {
  background-color: #ff922e;
}
.right {
  background-color: #2fbe34;
}

/* FOOTER */
footer {
  position: fixed;
  height: 50px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
h4 {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.score img {
  width: 14px;
  height: 14px;
}
